.header {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0 2.5em;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left a {
  padding: 10px;
  color: #808080;
  margin-right: 30px;
}

.header__left a.active {
  color: #fd4500;
  border-bottom: 2px solid #fd4500;
}

.header__left a:hover {
  background-color: #fd3d3d;
  border-radius: 15px;
  color: white;
}


.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__right>* {
  margin-left: 10px;
}

.header__right>i {
  font-size: medium;
  color: #808080;
}

.header__right>.header__user>span {
  margin-right: 10px;
}

.img1 {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}